#mySidebar *{
animation: none;
animation-delay: 0;
animation-direction: normal;
animation-duration: 0;
animation-fill-mode: none;
animation-iteration-count: 1;
animation-name: none;
animation-play-state: running;
animation-timing-function: ease;
backface-visibility: visible;
background: 0;
background-attachment: scroll;
background-clip: border-box;
background-color: transparent;
background-image: none;
background-origin: padding-box;
background-position: 0 0;
background-position-x: 0;
background-position-y: 0;
background-repeat: repeat;
background-size: auto auto;
border: 0;
border-style: none;
border-width: medium;
border-color: none;
border-bottom: 0;
border-bottom-color: none;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
border-bottom-style: none;
border-bottom-width: medium;
border-collapse: separate;
border-image: none;
border-left: 0;
border-left-color: none;
border-left-style: none;
border-left-width: medium;
border-radius: 0;
border-right: 0;
border-right-color: none;
border-right-style: none;
border-right-width: medium;
border-spacing: 0;
border-top: 0;
border-top-color: none;
border-top-left-radius: 0;
border-top-right-radius: 0;
border-top-style: none;
border-top-width: medium;
bottom: auto;
box-shadow: none;
box-sizing: content-box;
caption-side: top;
clear: none;
clip: auto;
color: black;
columns: auto;
column-count: auto;
column-fill: balance;
column-gap: normal;
column-rule: medium none currentColor;
column-rule-color: currentColor;
column-rule-style: none;
column-rule-width: none;
column-span: 1;
column-width: auto;
content: normal;
counter-increment: none;
counter-reset: none;
cursor: auto;
direction: ltr;
display: inline;
empty-cells: show;
float: none;
font: normal;
font-family: gudea;
font-size: 16px;
font-stretch: normal;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: auto;
hyphens: none;
left: auto;
letter-spacing: normal;
line-height: 1.0;
list-style: none;
list-style-image: none;
list-style-position: outside;
list-style-type: disc;
margin: 0;
margin-bottom: 0;
margin-left: 0;
margin-right: 0;
margin-top: 0;
max-height: none;
max-width: none;
min-height: 0;
min-width: 0;
opacity: 1;
orphans: 0;
outline: 0;
outline-color: invert;
outline-style: none;
outline-width: medium;
overflow: visible;
overflow-x: visible;
overflow-y: visible;
padding: 0;
padding-bottom: 0;
padding-left: 0;
padding-right: 0;
padding-top: 0;
page-break-after: auto;
page-break-before: auto;
page-break-inside: auto;
perspective: none;
perspective-origin: 50% 50%;
position: static;
quotes: '\201C' '\201D' '\2018' '\2019';
right: auto;
tab-size: 8;
table-layout: auto;
text-align: left;
text-align-last: auto;
text-decoration: none;
text-decoration-color: inherit;
text-decoration-line: none;
text-decoration-style: solid;
text-indent: 0;
text-shadow: none;
text-transform: none;
top: auto;
transform: none;
transform-style: flat;
transition: none;
transition-delay: 0s;
transition-duration: 0s;
transition-property: none;
transition-timing-function: ease;
unicode-bidi: normal;
vertical-align: baseline;
visibility: visible;
white-space: normal;
widows: 0;
width: auto;
word-spacing: normal;
z-index: auto
}

#popupBody {
	width: 500px;
	background-color: #ffffff;
}
#mysidebar input.text{
	outline: 1px black;
}
#mySidebar button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
}

#content {
	margin-top: 20px;
}

hr {
	border-top: 2px solid #4099FF;
}

input[type="text"] {
	width: 55%;
}

#highlightClick {
    position: absolute;
    left: 30px;
    border: 3px solid orange;
	z-index:1000;
	opacity: 0.5;
	height: 50px;
	width: 100px;
}
div#mySidebar button {
	background-color: red;
}
#welcomeText {
	font-size: 18px;
	border-bottom: 1px grey;
}

#beginSetup, #subtaskPrompt {
	font-size: 13px;
	border: 3px solid orange;
	padding: 10px;
	
}

.setup{
	font-size: 16px;
	background-color: #d8eaff;
	text-align: center;
	padding: 5px;
	margin-bottom: 10px;
}

.idealActionLabel {
	font-size: 14px;
	color: #0071F3;
}

.cwQuestion {
	font-weight: bold;
}

.removeSubtask {
	float: right;
}

.responseBox {
	display: inline-block;
}

.responseBoxLabel {
	display: inline-block;
	padding-right: 60px;
	padding-left: 60px;
}
.previewImage{
	width:200px;
	height:200px;
	
}


/* EVERYTHING FOR THE PERSONA VIEW BELOW THIS LINE. EVERYTHING ABOVE FOR POPUP */

#closeButton {
	display:inline;
	position:relative;
	left: 70%;
	bottom: 30px;
}

.personaPhotoContainer {
}

#mySidebar {
	top: 0px;
	right: 0px;
	position:fixed;
	width:500px;
	height:100%;
	overflow:auto;
	border: 5px ridge #4099FF;
	padding: 10px;
	background-color: white;
	z-index: 9999999;
	float: right;
	resize:both;
}

#resizeBar {
	background-color: purple;
	float: left;
	resize: both;
}

.personaPhoto{
	height: 100px;
	width: 100px;
	float: left;
	z-index: 10002;
}

.rightAtribute{
	margin: 0;
	padding: 0;
	text-align: right;
}

.personaLink {
	overflow:hidden;
	position:relative;
	left:10%;
	padding-bottom: 5px;
}

ul.graph {
	margin: 1px;
	list-style-type: none;		
}
	
ul.graph li.facetMotivationAbby {	
	/*background: -webkit-linear-gradient(left, blue 25%, orange 25%, orange);*/
	position: relative;
	left: 50%;
	top: 50%;
	width: 50%;
}
	
ul.graph li.facetProcessingAbby {
	/*background: -webkit-linear-gradient(left, blue 25%, orange 25%, orange);*/
	position: relative;
	top: 50%;
	left: 50%;
	width:50%;
}

ul.graph li.facetSelfEffAbby {
	/*background: -webkit-linear-gradient(left, blue 25%, orange 25%, orange);*/
	position: relative;
	top: 50%;
	left: 50%;
	width:50%;
}

ul.graph li.facetRiskAbby {
	/*background: -webkit-linear-gradient(left, blue 25%, orange 25%, orange);*/
	position: relative;
	top: 50%;
	left: 50%;
	width:50%;
}

ul.graph li.facetTinkerAbby {
	/*background: -webkit-linear-gradient(left, blue 25%, orange 25%, orange);*/
	position: relative;
	top: 50%;
	left: 50%;
	width:50%;
}

.personaParagraph {
	border-color: orange;
	border-style: solid;
    border-width: 3px;	
	padding: 10px 15px 10px 25px;
}

#graphContainer{
}

.facetLink{
}

#mySidebar div, p, h1, h2, h3, h4, h5, h6, ul, ol, dl, pre, hr, blockquote, address {
	display: block !important;
}