 <html>
	<body>
	<div style="height:20px; background-color:#999999;text-align:center;"> <span style="color:white;">Tim's Attitudes Towards Risk</span> <button id="timRToolTipButton"class="closeToolTip" style="float:right; width:40px; height:20px;background-color:#D24726;font-color:white;"> &#10006 </button></div>
		<div id="timRToolTip"> 
		Tim doesn't mind taking risks using features of technology that haven't been proven to work. When he is presented with challenges because he has tried a new way that doesn't work, it doesn't change his attitudes toward technology.
		</div>			
	</body>
 </html>