 <html>
	<body>
	<div style="height:20px; background-color:#0288d1;text-align:center;"> <span style="color:white;">Abby's Motivation</span> <button id="abbyMToolTipButton"class="closeToolTip" style="float:right; width:40px; height:20px;background-color:#D24726;font-color:white;"> &#10006 </button></div>
		<div id="abbyMToolTip"> 
			<ul style="list-style-position: inside;padding:5px">
				<li> Abby is proficient with the technologies she uses.  </li>
				<li> She learns new technologies when she needs to, but she doesn’t spend her free time exploring technology or exploring obscure functionality of programs and devices that she uses. </li>
				<li> When Abby uses computers to problem-solve, she has little desire to learn new functions, or to search for information on them. </li> 
				<li> She tries to use methods she is already familiar and comfortable with to achieve her goals.</li>
			</ul>
		</div>			
	</body>
 </html>