
<html>
	<head>
	</head>
	<body>
	<div>
		<div id="picGoesHere" style="height:100%; width:20%;float:left;"></div>
			<div class="bullets" style="height:100%; width:80%;float:right">
				<ul>
					<li>Is <span class="abbyMTrigger" style="color:blue"> motivated </span> by the usefulness of technology (as opposed to the novelty).</li>
					<li>Has a <span class="abbyIPSTrigger" style="color:blue">comprehensive information processing style </span>.</li>
					<li>Has <span class="abbySETrigger" style="color:blue">low computer self-efficacy </span>.</li>
					<li>Is <span class="abbyRTrigger" style="color:blue">risk-averse</span> when it comes to software.</li>
					<li>Does not like to <span class="abbyTTrigger" style="color:blue"> explore or tinker</span>.</li>
				</ul>
			</div>
		</div>
	</body>
</html>