 <html>
	<body>
		<div id="abbyTToolTip"> 
		 Abby doesn't particularly like tinkering with software (ie, just trying out new features or commands to see what they do) when she uses software in her work tasks. Instead, she prefers following step-by-step tutorials and wizards. (However, when she does tinker, it has positive effects on her understanding of the software.) When software features/commands cause problems for her, she tends to blame herself and, if she can, she then just avoids those troublesome features/commands. She then uses work-arounds that involve using only features/commands she is familiar with already. 
			<button id="abbyTToolTipButton" class="closeToolTip"> X </button>
		</div>			
	</body>
 </html>