 <html>
	<body>
		<div id="abbyIPSToolTip"> 
			Abby leans towards a comprehensive information processing style when she needs to gather information to problem-solve. That is, before following any option that seems promising, she first gathers information comprehensively to try to form a complete understanding of the problem before trying to solve it. Thus, her style is "burst-y"; first she reads a lot, then she acts on it in a batch of activity.
			<button id="abbyIPSToolTipButton" class="closeToolTip"> X </button>
		</div>			
	</body>
 </html>