 <html>
	<body>	
	<div style="height:20px; background-color:#999999;"> <button id="abbySEToolTipButton" class="closeToolTip" style="float:right; width:40px; height:20px;background-color:#ff3333;font-color:white;"> &#10006 </button></div>
		<div id="abbySEToolTip"> 
			Abby has low computer self-efficacy, meaning that she has low self-confidence in performing computing tasks other than the ones she is familiar with. This has a variety of impacts on how she uses software. For example, she is not confident that she can learn to use new features and, as self-efficacy theory explains, she often gives up if she runs into challenges. Software with usability problems poses more challenges to her than it does to more confident users, and she often blames herself for problems that she encounters.
		</div>			
	</body>
 </html>