 <html>
	<body>
		<div id="abbyMToolTip"> 
			Abby is proficient with the technologies she uses. She learns new technologies when she needs to, but she doesn't spend her free time exploring technology or exploring obscure functionality of programs and devices that she uses. When Abby uses computers to problem-solve, she has little desire to learn new functions, or to search for information on them. She tries to use methods she is already familiar and comfortable with to achieve her goals. 
			<button id="abbyMToolTipButton" class="closeToolTip"> X </button>
		</div>			
	</body>
 </html>