<html>
	<head>
		
		<script src="jquery-ui-1.11.4.custom/external/jquery/jquery.js"></script>
		<script src="jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
		
		<script src="js/setup.js"></script>
		<script src="js/prewalkthrough.js"></script>
		<script src="js/helper.js"></script>
		
		<script src="popup.js"></script>
		
		<title>Welcome To GenderMag!</title>
	</head>

	<body>
		
		<p id="welcomeText">Welcome to the GenderMag tool, a tool for using the GenderMag Method. The GenderMag Method (short for “Gender Inclusiveness Magnifier”) is a method for finding gender-inclusiveness issues in software features. It is an analytical process and materials to support that process. A team of software developers and/or user experience (UX) professionals can use it to evaluate their software products from a gender-inclusiveness perspective. 
  To find out more about where GenderMag came from, or how to do it, <button id="kitPage" >click here</button> to get the kit. 
</p>
		<button id="startGenderMagButton">Start GenderMag</button>
		<!--button id="learnMoreButton">FOR DEVELOPERS ONLY! </button-->

	</body>
	
</html>