 <html>
	<body>		
		<canvas id="imageCanvas"> 
			<img id="previewImage"></img>
		</canvas>
		<div id=imageCaption> 
			This is a preview of your image, to see the full image <span class="previewTrigger" style="color:blue;"> click here </span>

		</div>	
		<div>
			You may also retake your image if you aren't happy with it. Once you have an image you like, select the save image and close button
		</div>
		<div>	
			<button id="retakeImage"> Retake screen capture </button> 
			<button class="closeToolTip"> Save Image and Close </button>		
		</div>
	</body>
 </html>