<head>
	<!-- <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'> -->
	<link rel="stylesheet" href="css/styles.css">
	
	<script src="jquery-ui-1.11.4.custom/external/jquery/jquery.js"></script>
	<script src="jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
	
	<script src="js/helper.js"></script>
	<script src="js/output.js"></script>
	<script src="js/screenshot.js"></script>
	
	<script src="popup.js"></script>
	
	<title>GenderMag</title>
</head>

<body>
<span id="welcomeText">the GenderMag Tool</span>
<button id="viewPersona">View Personas</button>

<hr>


<div id="userInfo" style="height:100%; width:15%; float:left; margin:5px;">

	<div id="icons">
	
		<div class="icon" id="team">
			<i class="fa fa-2x fa-users" aria-hidden="true"></i>
			<label id="teamName">Team</label>
		</div>
			
		<div class="icon" id="persona">
			<i class="fa fa-2x fa-user" aria-hidden="true"></i>
			<label id="personaName">Persona</label>
		</div>
			
		<div class="icon" id="scenario">
			<i class="fa fa-2x fa-road" aria-hidden="true"></i>
			<label id="scenarioName">Scenario</label>
		</div>
		
	</div>
	
</div>


		
		<div id="setup" class="instruction" style="margin-bottom:5px;">
			<span class="preview"> Before you get started with the GenderMag walkthrough... </span>
			
			<span class="complete" hidden> Before you get started with the GenderMag walkthrough,
			please record some information that will help identify this session.<br></span>
			
			<span class="moreOrLess" stateVar = 0> See more </span>
			
		</div>
		
		<div id="getTeam">
			<label id="teamPrompt">First, what is the name of your team?</label><br>
			<input id="teamInput" type="text" placeholder="ex. Mobile Dev Group">
			<input type="submit" id="submitTeam"><br>
		</div>
		
		<div id="getPersona" hidden>
			<label id="personaPrompt">Now select a Persona</label><br>
			<select id="personaSelection" name="persona">
				<option value="Abby">Abby</option>
				<option value="Tim">Tim</option>
				<option value="Patrick">Patrick</option>
				<option value="Patricia">Patricia</option>
			</select>
		
			<button id="submitPersona">Submit</button><br>
		</div>
		
		<div id="getScenario" hidden>
			<label id="scenarioPrompt"></label><br>
			<input id="scenarioInput" type="text" placeholder="ex Edit Sue's contact information">
			<input type="submit" id="submitScenario"><br>
		</div>
			
		<div id="subgoals">
		</div>
			
		<div id="getSubgoal" hidden>
			<label id="subgoalPrompt"></label><br>
			<input id="subgoalInput" type="text" placeholder="ex Search for 'Sue' in the DB">
			<input type="submit" id="submitSubgoal" value="Add Subgoal">
		</div>

		<button id="saveAndExit" style="margin-top:5px;">Save and Exit</button>

	</body>
</html>