<div>
	<button id="imageBack" style="float:left; width:30px; height:25px;background-color:#2E8DEF;color:white;">&#8592 </button>
	<input id="submitPostAction" type="submit" value="Save and Continue" style="float:right; width:180px; height:25px;background-color:#2E8DEF;color:white;">
	<button id="retakeImage" style="float:right; width:180px; height:25px;background-color:#2E8DEF;color:white;"> Retake screen capture </button> 
</div>
<span class="cwQuestion">If Abby does the right thing, will she know that she did the right thing and is making progress toward her goal?<br></span>
<div id="yesnomaybe" style="width:100%">
	<span>
	  <input id="YNMyes" type="checkbox" name="yes" value="yes">Yes</input>
	</span>
	<span>
	  <input id="YNMno" type="checkbox" name="no" value="no">No</input>
	</span>
	<span>
	  <input id="YNMmaybe" type="checkbox" name="maybe" value="maybe">Maybe</input>
	</span>
</div>
<textarea id="whyYes" rows="4" cols="40" class="responseBox" placeholder="Why, why not or why maybe?"></textarea>
<br>
<span class="cwQuestion">Which of the persona's facets did you use to answer the above question?</span>
<br>
<input id="Q2motiv" type="checkbox" value="Motivation"><span class="abbyMTrigger" style="color:blue">Motivation</span><br>
<input id="Q2info" type="checkbox" value="Information Processing Style"><span class="abbyIPSTrigger" style="color:blue">Information Processing Style</span><br>
<input id="Q2self" type="checkbox" value="Computer Self-Efficacies"><span class="abbySETrigger" style="color:blue">Computer Self-Efficacies</span><br>
<input id="Q2risk" type="checkbox" value="Attitude Towards Risk"><span class="abbyRTrigger" style="color:blue">Attitude Towards Risk</span><br>
<input id="Q2tinker" type="checkbox" value="Willingness to Tinker"><span class="abbyTTrigger" style="color:blue">Willingness to Tinker</span><br><br>

