<div id="preActionQuestions">
	<span class="cwQuestion">Will Abby know what to do at this step?<br></span>
	<div id="yesnomaybe" style="width:100%">
		<span>
		  <input id="YNMyes" type="checkbox" name="yes" value="yes">Yes</input>
		</span>
		<span>
		  <input id="YNMno" type="checkbox" name="no" value="no">No</input>
		</span>
		<span>
		  <input id="YNMmaybe" type="checkbox" name="maybe" value="maybe">Maybe</input>
		</span>
	</div>
	<textarea id="whyYes" rows="4" cols="40" class="responseBox" placeholder="Why, why not or why maybe?"></textarea>
	<!--textarea id="whyNo" class="responseBox" placeholder="Why not?"></textarea>
	<textarea id="whyMaybe" class="responseBox" placeholder="Why maybe?"></textarea><br>
	<span class="cwQuestion">Which of the persona's facets did you use to answer the above question?</span--><br>
	
	<input id="motiv" type="checkbox" value="Motivation"><span class="abbyMTrigger" style="color:blue">Motivation</span><br>
	<input id="info" type="checkbox" value="Information Processing Style"><span class="abbyIPSTrigger" style="color:blue">Information Processing Style</span><br>
	<input id="self" type="checkbox" value="Computer Self-Efficacies"><span class="abbySETrigger" style="color:blue">Computer Self-Efficacies</span><br>
	<input id="risk" type="checkbox" value="Attitude Towards Risk"><span class="abbyRTrigger" style="color:blue">Attitude Towards Risk</span><br>
	<input id="tinker" type="checkbox" value="Willingness to Tinker"><span class="abbyTTrigger" style="color:blue">Willingness to Tinker</span><br><br>

	<button id="preActionBack"> Go Back </button>
	<button id="preActionClose">Save and close this action</button>
</div>
