

#ayy{
	width: 300px;
	height:500px;
	position:absolute;
	top:100px;
	left:100px;
	border:3px solid #4A96AD;
	background-color : white;

}

#imageAnnotation{
	width: 500px;
	height:500px;
	position:absolute;
	top:150px;
	left:100px;
	border:3px solid #4A96AD;
	background-color : white;
	transition-timing-function: ease;
	transition: width 1s, height 1s, transform 1s;
}
/* uncomment for lulz

#imageAnnotation:hover{transform: rotate(180deg);} 
*/